html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='msapplication-TileColor', content='#ffffff"')
    meta(name='msapplication-TileImage', content="/ms-icon-144x144.png")
    meta(name="theme-color" content="#000000")
    meta(name="description" content="Randomly selects a '" + artistName + "' episode for you to listen to on Spotify.")
    meta(property="og:title" content=artistName + " Shuffle")
    meta(property="og:type" content="website")
    title= artistName + " Shuffle"

    link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")

    link(rel="stylesheet" href="/css/main.css")
  body()
    div(class="container center-text")
      h3(class="mb-1 light-gray") Probiere doch mal diese Folge aus:
      a(href=albumUrl)
        img(
          class="max-width-90"
          srcset=albumImage64Url + " 64w, " + albumImage300Url + " 300w, " + albumImage640Url + " 640w"
          sizes="(max-width: 71px) 64px, (max-width: 333px) 300px, 640px"
          srx=albumImage640Url
        )
      div(class="gray small") Klicke auf das Cover um Spotify zu öffnen
      p()
        a(href="/" class="max-width-90 light-gray") weiterer Vorschlag

      p(class="small gray max-width-90")
        a(class="light-gray" href="/?ignore=" + albumId) diese Folge nicht mehr vorschlagen
